/* primary color #212121 */
/* secondary color #757575 */
/* tertiary color #FFFFFF */
/* accent color #2196F3 */

html {
    box-shadow: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
--primary-text-color:#212121;
--secondary-text-color:#757575;
--button-links-color:#2196F3;
--beckround-color:#FFFFFF;
--time-var: cubic-bezier(0.4, 0, 0.2, 1);
}

*{
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 26px;
    font-family: "Raleway", serif;
    color: var(--primary-text-color);
    margin-right: 93px;
  }

.product img {
    display: block;
    flex-basis: 100%;
}
img {
    display: block;
    flex-basis: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

h2,
h3 {
color: var(--primary-text-color);
}

body,
.nav {
    font-family: "Roboto", 'sans-serif';
    color: var(--secondary-text-color);
}

.nav, 
.header-contacts {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500px;
}

.section-padding {
    padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.nav span {
  color: #2196f3;
}
  
.nav ul {
color: var(--primary-text-color);
}

nav.current {
    color: var(--button-links-color);
    position: relative;
}

.hidden {
display: none;
}

.general-button {
  background-color: #2196f3;
  min-width: 200px;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
}

.general-button:hover {
  cursor: pointer;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;

}
.team-card p {
margin-top: 10px;
margin-bottom: 16px;
}
.team-card {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc(100% / 4 - 30px * 3);
    margin-right: 10px;
    padding-bottom: 30px;
}

.team-cards {
  display: flex;
  justify-content: space-between;
}

header a {
  transition: color 250ms var(--time-var);
}

.nav a:hover,
.nav a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
    background-color: var(--button-links-color);
    color: var(--beckround-color);
}

.button:hover,
.button:focus {
  background-color: var(--buttons-links-colour);
  color: var(--background-colour);
}

a:active {
    color: var(--button-links-color);
}

.header-hero {
font-size: 44px;
line-height: 1.4;
font-weight: 900px;
text-align: center;
color: var(--beckround-color);
text-transform: uppercase;
margin-bottom: 30px;
}

.hero-section {
    color: #FFFFFF;
    text-align: center;
}

.container-hero {
    margin-bottom: 0;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.order-button {
    background-color: var(--button-links-color);
    width: 200px;
    color: var(--beckround-color);
    padding: 10px 32px;
    border-radius: 4px;
    border: 0;
}

.qualities {
  display: flex;
    padding-top: 94px;
}

.qualities-header {
   font-size: 14px;
   font-weight: 700px; 
   line-height: 1.14;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.qualities-paragraph {
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.71;
    color: #757575;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.27;
    text-align: center;
    margin-bottom: 50px;
}

.div-logo {
    margin-bottom: 20px;
}

.names-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--primary-text-color);
    margin-top: 30px;
}

.names-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
}

.profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;  
}

.product-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin-left: 24px;
    margin-top: 0;
}

.product-type {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.9;
    margin-left: 24px;
}

.button {
    width: 73px;
    color: var(--primary-text-color);
    line-height: 1.6;
    font-size: 16px;
    background-color: #2196F3;
    font-weight: 500;
    margin-left: 8px;
    border-radius: 4px;
    padding: 8px 22px;
    transition: background-color 250ms var(--time-var), color 250ms var(--time-var);
}

a {
  color: inherit;
  text-decoration: none;
}

.footer span {
  color: #2196f3;;
  }

.footer a {
    color: var(--secondary-text-color);
}

.footer-contacts a {
color: rgb(255, 255, 255, 60%);
}

.footer-contacts {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    background-color: #2F303A;
    color: var(--beckround-color);
    padding-top: 60px;
}

.footer_form-button {
  display: inline-flex;
}
footer h2 {
  color: #F5F4FA;
}
.footer-email__form {
  display: flex;
}

.footer-signup__button {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2f303a;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.footer-section__whole,
.section__social-network {
  display: flex;
  align-items: baseline;
  flex-basis: calc(100% - 60px / 3);
}

.social-network__icon-svg {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  transform: scale(230%);
}

.footer-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

address {
    font-style: normal;
  }

  .portfolio-products {
    list-style: none;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .product-card {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 60px);
    transition: box-shadow 250ms var(--time-var);
  }

  .product-card:hover,
  .product-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

  .buttons-list {
    display: flex;
    justify-content: center;
  }

  .qualities-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }

  .qualities-item {
    flex-basis: calc(100% / 3 - 90px);
    margin-left: 30px;
    margin-top: 30px;
    justify-content: center;
  }

  .product-images {
    display: flex;
    justify-content: space-between;
  }

  .team.container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .buttons-container {
    padding-bottom: 0;
    margin-bottom: 56px;
  }

  .footer-contact {
    margin-bottom: 9px;
  }

  .footer-contact:hover, .footer-contact:focus {
    color: #2196f3;
  }

  .social-network,
  .footer-newsletter {
  margin-left: 30px;
}

  .header-contacts {
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-links {
    display: flex;
    margin-right: -50px;
  }

  .header-item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-link {
    flex-basis: calc(100% - 100px / 3);
    margin-right: 50px;
  }

  .container-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .container-nav {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .portfolio-header {
    margin-bottom: 94px;
    border-bottom: 1px solid #ececec;
  }

  .buttons-list .button {
    border: none;
  }

  .card-border {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .hero-section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images-homework4/Img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f303a;
    text-align: center;
  }

  .qualities-item::before {
    content: "";
    display: block;
    max-width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: scale-down;
  }

  .logo-antenna::before {
    background-image: url(../images/icons-homework4/antenna.svg)
  }
  .logo-clock::before {
    background-image: url(../images/icons-homework4/clock\ 1.svg)
  }
  .logo-diagram::before {
    background-image: url(../images/icons-homework4/diagram\ 1.svg)
  }
  .logo-astronaut::before {
    background-image: url(../images/icons-homework4/astronaut\ 1.svg)
  }

  .clients-section {
    padding-top: 94px;
  }

  .footer-invitation {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
  }

  .social-network__links {
  display: flex;
  }

.footer-section__whole,
.section__social-network {
  display: flex;
  align-items: baseline;
}

.icon-list {
    margin: 0;
    display: inline-flex;
    padding: 0;
}

.icon-item:not(:first-child) {
   margin-left: 10px; 
}

.social-network__icon-link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--time-var);
}

.social-network__icon-link:hover .social-network__icon-svg,
.social-network__icon-link:focus .social-network__icon-svg {
  fill: #ffffff;
}

.social-network__icon-link:hover,
.social-network__icon-link:focus {
    background-color: var(--button-links-color);
}

.footer-icon {
    fill: #ffffff;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;  
}

.header__icon {
    position: absolute;
    bottom: 2px;
    left: -30px;
    margin: 0px;
    fill: currentColor;
}

.header-contacts:hover .header__icon,
.header-contacts:focus .header__icon,
.header-contacts:hover,
.header-contacts:focus {
    color: var(--button-links-color);
    fill: var(--button-links-color);
}

.clients-icon__list {
    display: inline-flex;
}

.clients-item:not(:last-child) {
   margin-right: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill 250ms var(--time-var), border 250ms var(--time-var);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid #2196f3;
    fill: #2196f3;
}

.product-image__container {
    position: relative; 
}

.index-product-overlay__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.index-product-overlay {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--beckround-color);
}

.image-container {
    position: relative;   
}

.portfolio--product-overlay__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    padding-left: 24px;
    padding-right: 24px;
    opacity: 0;
    
  transition: opacity 250ms var(--time-var), height 250ms var(--time-var);

  bottom: 0;
  max-width: 100%;
  height: 0px;
}

.portfolio--product-overlay {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--background-colour);
}

.team-cards-container{
  display: flex;
}

.nav-current-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  content: "";
  transform: translateY(38px)
}

.product-card:hover .portfolio--product-overlay__container,
.product-card:focus .portfolio--product-overlay__container {
  opacity: 1;
  height: 294px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: flex-end;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background-color: #ffffff;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.modal-close-button:hover, .modal-close-button:hover {
  fill: #2196f3;
}

.modal__contract-checkbox {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__contract-checkbox-link {
  text-decoration: underline;
  color: blue;
}

.modal-textarea {
  width: 448px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 25px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 40;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  width: 18px;
  height: 18px;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-checkbox__input:checked + .custom-checkbox {
  border-color: #2196f3;
  background-image: url(../images/images-homework-6/vector.svg);
  background-color: #2196f3;
  background-size: auto;
  background-repeat: no-repeat;
}

.modal-checkbox__submit {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}

.modal-input__container:focus svg,
.modal-input__container:hover svg,
.modal-input__container:hover .modal-input,
.modal-input__container:focus .modal-input,
.modal-input__container:hover .modal-textarea,
.modal-input__container:focus .modal-textarea {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  height: 40px;
  margin-bottom: 10px;
  transition: border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input {
  appearance: none;
}

.custom-checkbox {
  position: absolute;
  display: block;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
}